body{
    font-family: 'Poppins', sans-serif;
    margin: 50px 140px;
}


/* --------------------------------section A------------------------------*/

header{
    display: flex;
    color: #fdfffc;
    background-color:#161616 ;
    border-radius: 20px;
    
}

.head-title{
    width: 35%;
    padding:70px 70px 90px 200px ;
}

.head-line{
    font-size: 65px;
    font-weight: 700;
    margin-bottom: 0%;
}

.head-title p{
    font-size: 16px;
    padding-bottom:20px;
}

.head-button{
    text-decoration: none;
    padding: 16px 25px;
    background: #DD0000;
    color: #fdfffc;
    border-radius: 5px;
}

header img{
    width: 621px;
    height: 653px; 
    
}


/*--------------------------------- section B------------------------------- */
main{
    display: flex;
    margin-top: 100PX; 

}

.page-menu{
    background-color: #161616;
    padding: 30px;
}

aside{
    background: #1e1e1e;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    align-self: start;
    padding: 30px 0;
    margin-right: 15px;
}

aside a{
    background: white;
    color: black;
    font-weight: 600;
    text-decoration: none;
    margin: 0 30px 20px 30px;
    padding: 20px 15px;
    width: 144px;
    text-align: center;
    border-radius: 7px;
    transition: all ease 0.4s;
}

aside a:hover{
    color: white;
    background: #dd0000;
}


.blogs{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    margin-bottom: 50px;
}

.blog{
    border: 1px solid #6c757d;
    border-radius: 15px;
    box-shadow: 10px 10px 30px gray;
}

.blog img{
    width: 100%;
    
}

.blog button{
    text-decoration: none;
    text-align: left;
    width: 20%;
    margin:5px 0 0 15px;
    color: #161616;
    border: 2px solid lightgray;
    padding: 5px 0 5px 10px;
    border-radius: 7px;
}

.blog h3{
    font-size: 15px;
    margin: 0 15px;
}

.blog{
    display: flex;
    flex-direction: column;
}

.blog-info{
    display: flex;
    align-items: center;
    color: #495057;
    column-gap: 5px;
    font-size: 14px;
    margin:0 15px;
}



footer{
    padding: 100px;
    background-color: #161616;
    border-radius: 15px;
}
.footer-items{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.footer-items h2{
    color: #fdfffc;
    font-weight: 900;
}
footer hr{
    border: 1px solid #6c757d;
    
}

.footer-nav{
    padding: 0 20%;
    display: flex;
    justify-content: space-between;
}

.footer-nav a{
    text-decoration:none;
    color: #d3d3d3;
    font-size: 14px;
}

.social-links{
    margin-top: 30px;
    padding:0 40%;
    display: flex;
    justify-content: center;
    justify-content: space-between;
}

.social-links a{
    text-decoration: none;
    color: #d3d3d3;
    font-size: 24px;
    
}

.social-links a:hover{
    color: #fdfffc;
    transition: 0.5s;
    transform: translate(2px);
}



.matches{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border:1px solid #6c757d;
    border-radius: 15px;
    padding: 30px;
}

.match{
    display: flex;
    justify-content: center;
    align-items: center;
}

.match img{
    width: 100%;
   border-radius:5px;
}

.match p{
    margin: 0 20px;
}

.matches h5{
    font-size: 20px;
    color: #161616;
}

.matches small{
    color: #495057;
}

